@import "header";
@import "main";

html{
  font-size: 10px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  padding: 0 4%;
}
